@model IEnumerable<GameTime.Models.CompetitionViewModel>

@{
    ViewData["Title"] = "JoinedCompetitions";
}

<style>
    body {
        background-color: darkviolet;
    }

    .whiteText {
        color: snow;
    }
</style>

<div style="text-align:center;" class="whiteText">
    <h1>Competitions Entered</h1>
</div>
<br />
<div>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>

@if (Model.ToList().Count >= 0)
{
    <div class="table-responsive">
        <table id="viewCompetitions" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Competition ID</th>
                    <th>Competition Name</th>
                    <th>Area of Interest</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Result Release Date</th>
                    <th>Competition Criteria</th>
                    <th>Submit Work</th>
                    <th></th>
                </tr>
            </thead>
            <tbody style="background-color:snow;">
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.CompetitionID.ToString()</td>
                    <td>@item.CompetitionName</td>
                    <td>@item.AreaInterestName</td>
                    <td>@Convert.ToDateTime(item.StartDate)</td>
                    <td>@Convert.ToDateTime(item.EndDate)</td>
                    <td>@Convert.ToDateTime(item.ResultReleasedDate)</td>

                    <td>
                        <a asp-action="CriteriaView" asp-controller="Competitor"
                           asp-route-CompetitionId="@item.CompetitionID">Criteria</a>
                    </td>



                    @if ((DateTime.Today > item.StartDate) && (DateTime.Today < item.EndDate))
                {
                    <td>
                        <a asp-action="UploadView" asp-controller="Competitor"
                           asp-route-CompetitionId="@item.CompetitionID">Upload File</a>
                    </td>
                }
                else if (DateTime.Today < item.StartDate)
                {
                    <td>
                        Compeition Not Started
                    </td>
                }
                else
                {
                    <td>
                        Compeition Ended
                    </td>
                }
                    @*<td>
                        <a asp-action="UploadView" asp-controller="Competitor"
                           asp-route-CompetitionId="@item.CompetitionID">Upload File</a>
                    </td>*@

                    <td>
                        <a asp-action="ViewScore" asp-controller="Competitor"
                           asp-route-CompetitionId="@item.CompetitionID">View Score</a>
                    </td>


                </tr>
                }
            </tbody>
        </table>
    </div>

}