@model GameTime.Models.AppealViewModel

@{
    ViewData["Title"] = "Appeal";
}

<h1>Appeal</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.competitionID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.competitionID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.competitorID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.competitorID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.content)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="ViewSubmission">Back to Submission View</a>
</div>
