@model GameTime.Models.AppealViewModel

@{
    ViewData["Title"] = "Appeal";
}

<style>
    body {
        background-color: darkviolet;
    }

    .whiteText {
        color: snow;
    }
</style>

<h1 class="whiteText">Appeal</h1>

<div class="whiteText">
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.competitionID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.competitionID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.competitorID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.competitorID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.content)
        </dd>
    </dl>
    <form asp-action="Appeal">
        <input asp-for="competitionID" class="form-control" readonly hidden/>
        <input asp-for="competitorID" class="form-control" readonly hidden/>
        <input type="submit" value="Delete Appeal" class="btn btn-primary" />
    </form>
</div>

<div>
    <input class="btn btn-primary" type="button" value="Back to Submission View" onclick="location.href='@Url.Action("ViewSubmission", "Judge")'" />
</div>
