@model IEnumerable<GameTime.Models.CompetitionViewModel>
@{

}
<style>
    body {
        background-color: darkviolet;
    }
</style>

<div style="text-align:center">
    <h2 style="color:snow;">COMPETITIONS</h2>
</div>
<div>
    <p style="color:snow;" class="">Today's Date: <mark>@DateTime.Today.ToString("dd MMM yyyy")</mark> </p>
</div>
<br />

<form method="post">
    <div class="input-group rounded col-md-8">
        <input type="text" class="form-control rounded" name="CompetitionName" placeholder="Search for a competition by Name" aria-label="Search"
               aria-describedby="search-addon" />
        <input type="submit" class="btn btn-success" style="margin-left:5px;" value="Search" />
    </div>
</form>



@if (Convert.ToBoolean(ViewData["SuccessfulSearch"]) == false)
{
    <p style="color:red;">Invalid search!</p>
}

<br />
@if (Model.ToList().Count > 0)
{
    <div class="table-responsive">
        <table id="viewCompetitions" class="table table-striped table-bordered table-responsive-sm">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Competition Name</th>
                    <th>Area of Interest</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Result Release Date</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody style="background-color:snow;">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CompetitionID.ToString()</td>
                        <td>@item.CompetitionName</td>
                        <td>@item.AreaInterestName</td>
                        <td>@Convert.ToDateTime(item.StartDate).ToString("dd MMM yyyy")</td>
                        <td>@Convert.ToDateTime(item.EndDate).ToString("dd MMM yyyy")</td>
                        <td>@Convert.ToDateTime(item.ResultReleasedDate).ToString("dd MMM yyyy")</td>
                        <td>@item.Status</td>

                        <td>
                            <a asp-action="ViewCompetition" asp-controller="ViewCompetition"
                               asp-route-CompetitionId="@item.CompetitionID"
                               asp-route-CompetitionName="@item.CompetitionName">View</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}
