@model IEnumerable<GameTime.Models.CompetitionViewModel>
@{
}
<div style="text-align:center">
    <h1>Competitions</h1>
</div>
<br />

<form method="post">
    <div class="input-group rounded">
        <input type="text" class="form-control rounded" name="CompetitionName" placeholder="Search" aria-label="Search"
               aria-describedby="search-addon" />
        <input type="submit" value="Search" />
    </div>
</form>

@if (Convert.ToBoolean(ViewData["SuccessfulSearch"]) == false)
{
    <p style="color:red;">Invalid search!</p>
}

<br />
@if (Model.ToList().Count > 0)
{
    <div class="table-responsive">
        <table id="viewCompetitions" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Competition Name</th>
                    <th>Area of Interest</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Result Release Date</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.CompetitionID.ToString()</td>
                    <td>@item.CompetitionName</td>
                    <td>@item.AreaInterestName</td>
                    <td>@Convert.ToDateTime(item.StartDate).ToShortDateString()</td>
                    <td>@Convert.ToDateTime(item.EndDate).ToShortDateString()</td>
                    <td>@Convert.ToDateTime(item.ResultReleasedDate).ToShortDateString()</td>
                    @if (DateTime.Compare((DateTime)item.ResultReleasedDate, DateTime.Now) > 0)
                    {
                        <td>On-going</td>
                    }
                    else
                    {
                        <td>Over</td>
                    }

                    <td>
                        <a asp-action="ViewCompetition" asp-controller="ViewCompetition"
                           asp-route-CompetitionId="@item.CompetitionID"
                           asp-route-CompetitionName="@item.CompetitionName">View</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
 </div>

}
